*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.active{
    text-decoration: underline;
    font-weight: bold;
}

/*navbar*/
.navbar{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    width:100%;
    justify-content: space-between;
    padding: 20px;
    color:white;
    font-size: 3vmin;
}   

.nav-links{
    display:flex ;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;

}



header {
    width: 100vw;
    height: 100vh;
    
    background-image:url('company2.jpg') ;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
}

.header-content{
    margin-bottom: 150px;
    color: white;
    text-align: center;
}

.header-content h2{
    font-size: 9vmin;

}

.line{
    width: 150px;
    height: 4px;
    background: white;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size:7vmin;
    margin-top: 50px ;
    margin-bottom: 30px;

}

.ctn{
    padding: 8px 15px;
    background: blue;
    border-radius: 30px;
    color: white;
}


section{
    width:80%;
    margin: 80px auto;

     
}

.title h1{
    text-align: center;
    font-size: 8vmin;
    color: white;
    background-color:#49497e ;

}

.col{
    
        width: 250px;
        margin: 50px;
        padding: 30px 10px;
        background: #ececec;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 10px 10px 15px #c7c4c4 , -10px -10px 15px #fff;
        height: 30vmin;
        
       
    

}


.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-around ;
    background:white ;
    height: 40vmin;
    

}


.col:hover img{
    transform: scale(1.2);
}
.row .col{
    display:flex;
    flex-direction: column;
    align-items: center;
   
    
    
    

}

.event .row{
    margin-top: 100px;
}

.col img{
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: -10px;
    border: 5px solid #dee2e6;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
    height: 15vmin;
    
    
   
}

 col.h4{
    font-size: 8vmin;
    color:black;
    
    


}

 p{
    color:#484872;
    padding:  60px;
 }

 /* second section*/


 .explo{
    width:100%;
    margin: 100px auto;


 }
 

 .explore-content{
    
    width: 300px;
    margin: 150px;
    padding: 30px 10px;
    background: #ececec;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 15px #c7c4c4 , -10px -10px 15px #fff;
    height: 30vmin;
    
    

 }

 .explore{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-around ;
    background:white ;
   
     
   
    height: 60vmin;
    

 }
 .explore-content:hover img{
    transform: scale(1.2);
}

.explore .explore-content{
    
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    
}

.explore img{
    border-radius: 50%;
    width:150px;
    margin-top: 100px;
    justify-content: center;
    
    

}

.explore-content p{
    color:#484872;
    margin-bottom: 30px;
    

}

.seet{
    width:100%;
    margin: 100px auto;

}





.seet h1{
    text-align: center;
    font-size: 8vmin;
    color: white;
    background-color:#49497e ;

}

.seet:hover img {
transform: scale(1.2);
}

.column{
    margin: 60px;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    
}

.column img{
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: -10px;
    border: 20px solid #dee2e6;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
    height: 15vmin;
}
.reew{
display: flex;
align-items: center;
width: 100%;
justify-content:right 50px;
background:white ;
height: 90vmin;
margin-bottom: 20px;



}




.column h2{
    font-size: 3vmin;
    color: black;
    margin: 30px;
}


.column p{
    color:#49497e;
    justify-content: center;
    font-size: 2vmin;
    text-align: center;
    
    
   
    
    
}

.utf{
    width:100%;
    margin: 100px auto;
}

.utf:hover img{
    transform: scale(1.2);
}


.utf h1{
    text-align: center;
    font-size: 8vmin;
    color: white;
    background-color:#49497e ;

}

.rtt{
    margin: 70px;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}

.rtt img{
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: -10px;
    border: 20px solid #dee2e6;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
    height: 15vmin;
}

.employes .rtt{
    display:flex;
    flex-direction: column;
    align-items: center;
}



.employes{
    display: flex;
align-items: center;
width: 100%;
justify-content:right 50px;
background:white ;
height: 100vmin;
margin-bottom: 100px;
padding-left: 40px;
}

.rtt h2{
    font-size: 3vmin;
    color: black;
    margin: 30px;
   
}

.rtt p{
    color:#49497e;
   
    
    font-size: 2vmin;
    text-align: center;

}

.peni{
    width:100%;
    margin: 80px auto;
}

.peni:hover img{
    transform: scale(1.2);
}

.peni{
    text-align: center;
    font-size: 2vmin;
}

.explo-content{
    
    width: 250px;
    margin: 50px;
    padding: 30px 10px;
    background: #ececec;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 15px #c7c4c4 , -10px -10px 15px #fff;
    height: 30vmin;
}

.exp{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:center ;
    background:white ;
    height: 5vmin;
    
}

.explo-content img{
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: -10px;
    border: 5px solid #dee2e6;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
    height: 15vmin;
    

}

.exp .explo-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.explo-content p{
    color:#484872;
    margin-bottom:  200px;
    text-align: center;
  
}













